.good {
  width: 100px;
  height: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  padding: 10px 15px;
  .image {
    width: 75px;
    height: 75px;
    margin-bottom: 6px;
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
    }
  }
  .name {
    width: 75px;
    font-size: 12px;
    color: rgba(52, 52, 52, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info {
    display: flex;
    width: 100%;
    align-items: center;
    color: #e8220e;
    margin-top: 2px;
    .price {
      span {
        font-size: 12px;
      }
    }
    .add-car {
      width: 13px;
      height: 13px;
      margin-left: auto;
      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
      }
    }
  }
}