@font-face {
  font-family: 'yuanzi';
  src: url('//storage.360buyimg.com/grass/yuanzi.eot'); /* IE9 */
  src: url('//storage.360buyimg.com/grass/yuanzi.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('//storage.360buyimg.com/grass/yuanzi.woff2') format('woff2') /* chrome、firefox */,
  url('//storage.360buyimg.com/grass/yuanzi.woff') format('woff') /* chrome、firefox */,
  url('//storage.360buyimg.com/grass/yuanzi.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */,
  url('//storage.360buyimg.com/grass/yuanzi.svg#yuanzi') format('svg') /* iOS 4.1- */;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="nutcat-icon-"],
[class*=" nutcat-icon-"] {
  display: inline-block;
  font-family: 'yuanzi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nutcat-icon {
  vertical-align: middle;
  &-warn::before {
    content: "\f1ce";
  }

  &-warn-full::before {
    content: "\e61f";
  }

  &-user::before {
    content: "\ee7e";
  }

  &-video::before {
    content: "\e51c";
  }

  &-textarea::before {
    content: "\ed66";
  }

  &-triangle-arrow::before {
    content: "\f1df";
  }

  &-tag::before {
    content: "\e697";
  }

  &-success::before {
    content: "\f47a";
  }

  &-success-line::before {
    content: "\eb2f";
  }

  &-star::before {
    content: "\e6e1";
  }

  &-star-full::before {
    content: "\f10f";
  }

  &-shop-car::before {
    content: "\e4a8";
  }

  &-sound-close::before {
    content: "\f28c";
  }

  &-sound::before {
    content: "\f281";
  }

  &-sign::before {
    content: "\f454";
  }

  &-share::before {
    content: "\ed7e";
  }

  &-share-full::before {
    content: "\e638";
  }

  &-rule::before {
    content: "\f508";
  }

  &-replay::before {
    content: "\ee9a";
  }

  &-refresh::before {
    content: "\f26d";
  }

  &-qrcode::before {
    content: "\e8ae";
  }

  &-question-mark::before {
    content: "\ecee";
  }

  &-qq::before {
    content: "\eba3";
  }

  &-plus::before {
    content: "\e62a";
  }

  &-plus-mark::before {
    content: "\ea33";
  }

  &-money::before {
    content: "\f038";
  }

  &-multi-user::before {
    content: "\f4bb";
  }

  &-plus-circle::before {
    content: "\f116";
  }

  &-phone::before {
    content: "\ea42";
  }

  &-loading-gray::before {
    content: "\e079";
  }

  &-loading::before {
    content: "\f2aa";
  }

  &-map::before {
    content: "\e130";
  }

  &-money-full::before {
    content: "\f1a1";
  }

  &-light::before {
    content: "\f1b9";
  }

  &-lbs::before {
    content: "\ed2a";
  }

  &-lbs-line::before {
    content: "\e69b";
  }

  &-image::before {
    content: "\ef44";
  }

  &-lbs-full::before {
    content: "\e29c";
  }

  &-heart::before {
    content: "\e523";
  }

  &-good::before {
    content: "\f3a1";
  }

  &-heart-full::before {
    content: "\f21f";
  }

  &-good-full::before {
    content: "\ebe6";
  }

  &-gift::before {
    content: "\eb27";
  }

  &-gift-light::before {
    content: "\efb6";
  }

  &-fire::before {
    content: "\e1cc";
  }

  &-file::before {
    content: "\ed33";
  }

  &-double-arrow-right::before {
    content: "\e568";
  }

  &-coupon::before {
    content: "\eff4";
  }

  &-crown::before {
    content: "\f29d";
  }

  &-del::before {
    content: "\ec15";
  }

  &-close::before {
    content: "\ebdb";
  }

  &-close-simple::before {
    content: "\e539";
  }

  &-close-dialog::before {
    content: "\f3bc";
  }

  &-close-line::before {
    content: "\e09a";
  }

  &-clock::before {
    content: "\e5a8";
  }

  &-clock-full::before {
    content: "\f3eb";
  }

  &-circle-arrow::before {
    content: "\ebea";
  }

  &-cart::before {
    content: "\e056";
  }

  &-camera::before {
    content: "\ed80";
  }

  &-change::before {
    content: "\e006";
  }

  &-cart-rect::before {
    content: "\e8f9";
  }

  &-calendar::before {
    content: "\f493";
  }

  &-cart-full::before {
    content: "\f4eb";
  }

  &-backtop::before {
    content: "\e1a0";
  }

  &-qiang::before {
    content: "\eac5";
  }

  &-arrow-go::before {
    content: "\e215";
  }

  &-arrow-normal::before {
    content: "\e0da";
  }

  &-arrow-down::before {
    content: "\f0e4";
  }

  &-arrow-right::before {
    content: "\e7da";
  }

  &-arrow-big::before {
    content: "\e547";
  }

  &-arrow-back::before {
    content: "\e189";
  }

  &-arrow-full::before {
    content: "\eb23";
  }

  &-buynow::before {
    content: "\eac5";
  }

  &-plus-icon::before {
    content: "\E62A";
  }

  &-close-special::before {
    content: "\F3BC";
  }
}