.nutcat-price {
    display: inline;
    color: red;
    &--symbol {
        display: inline-block;
        font-size: 16px;
        margin-right: 4px;
      }
      &--big {
        display: inline-block;
        font-size: 24px;
      }
      &--point {
        display: inline-block;
        font-size: 24px;
      }
      &--small {
        display: inline-block;
        font-size: 18px;
      }
}